# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore IDE Settings
.idea

# Ignore Jar files
*.jar

# Gradle Binaries
*/wrapper
gradlew
gradlew.bat

# other files
.gitattributes
kls_database.db
